@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.main {
  min-height: 80vh;
  padding-top: 0px !important;
}
*{
  font-family: 'Raleway', sans-serif;
  text-decoration: none !important;
}
.all{
  background: linear-gradient(0deg, rgb(213, 229, 236) 0%, rgb(237, 247, 252) 100%);
}
.num{
  font-family: 'Barlow', sans-serif;
}
.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #8ae2e8;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.2rem;
  opacity: 0.5;
  color: hsl(212, 40%, 67%);
}

.product-title {
  height: 2.5em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.navbar{
  background: none;
}
/* .navbar-collapse{
  display: flex;
} */
.main{
  color: #968f9c;
}
.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Koulen', cursive;
  color: #0e2c4b;
  font-size: 3em;
  margin: 0;
  padding: 0;
}
.logo img{
  margin-right: 10px;

}
.logo span{
  color: #82a9d6;
  font-family: 'Koulen', cursive;
}
.nav{
  display: flex;
  align-items: center;
  gap: 2em;
}
.icon{
  background-color: transparent !important;
}
.tab{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #082750;
  font-weight: 500;
}
#sign-in{
  background-color: #082750;
  color: white;
  border-radius: 7px;
  padding: 0.5em 0em;
  width: 100px;
  text-align: center;
  box-shadow: 5px 8px 15px rgba(33, 0, 36, 0.2);
  transition: all 0.15s ease-in-out;
}
#sign-in:hover{
  background-color: #164889;
  color: white;
  box-shadow: 5px 8px 25px rgba(1, 34, 90, 0.35);
}

/* home screen */

.home-screen-heading{
  color: #082750;
  font-weight: 800;
  font-size: 2em;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 0;
}

#cart{
  font-size: 1.2em;
}
.card{
  border-radius: 10px !important;
  border: none;
  box-shadow: 0px 25px 50px -30px rgba(0,0,0,0.2),
              0px 45px 40px -21px rgba(0,0,0,0.1);
  transition: all 200ms ease-in-out;
  max-width: 305px;
  margin: auto;
}
.card:hover{
  scale: 1.05;
  box-shadow: 0px 45px 70px -30px rgba(0, 21, 47, 0.3),
              0px 45px 50px -21px rgba(0, 21, 47, 0.2);
}
.card:hover .img-container {
  border-radius: 7px 7px 30px 30px;
}
.cardBody{
  background-color: white;

}
.img-container{
  border-radius: 7px;
  transition: all 200ms ease-in-out;
  height: 228px;
  max-width: 286px;
  overflow: hidden;
  position: relative;
}
.img{
  border-radius: 7px;
  transition: all 200ms ease-in-out;
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
}
.price{
  color: #041d40;
  font-weight: 700;
  background-color: white;
}
.product-title, .product-title strong{
  background-color: white;
  word-wrap: normal;
  max-height: 25px;
}

/* product screen */
#product-screen-back{
  margin-top: 0 !important;
  background-color: white;
  color: rgb(162, 168, 172);
  box-shadow: none;
}
#product-screen-back:hover{
  background-color: rgb(197, 201, 204);
  color: rgb(255, 255, 255);
}
.product-screen-container{
  margin-top: 0;
}
.product-screen-container2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}
.product-screen-img-container{
  background-color: white;
  border-radius: 10px;
  padding: 2em;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 455px;
}

.product-screen-img{
  border-radius: 7px;
}
.product-screen-rating{
  font-size: 5em;
}

.product-screen-text{
  max-width: 500px;
  height: 470px;
  background-color: white;
  padding: 2em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-screen-title{
  color: black;
  font-weight: 700;
  margin-bottom: 7px;
  font-size: 2.3em;
}
.product-screen-subtitle{
  color: rgba(0, 0, 0, 0.3);
  font-weight: 500;
  font-size: 1.3em;
  margin-bottom: 20px;
}
.product-screen-description{
  color: rgba(0, 0, 0, 0.3);
  font-weight: 500;
  font-size: 1em;
  margin-bottom: 0px;
  max-width: 95%;
}
.product-screen-status-green{
  color: rgb(2, 147, 86);
  background-color: rgb(144, 231, 195);
  width: 80px;
  text-align: center;
  padding: 3px 5px;
  border-radius: 2px;
  margin-bottom: 20px;
}
.product-screen-status-red{
  color: rgb(186, 13, 59);
  background-color: rgb(226, 121, 149);
  width: 120px;
  text-align: center;
  padding: 5px 5px;
  border-radius: 2px;
  margin-bottom: 20px;
}
.product-screen-price{
  font-size: 3em;
  color: #82a9d6;
  font-weight: 600;
}
.product-screen-button{
  margin-top: 10px;
  background-color: #082750;
  box-shadow: 5px 8px 15px rgba(33, 0, 36, 0.1);
  transition: all 0.15s ease-in-out;
}
.product-screen-button:hover{
  background-color: #164889;
  color: white;
  box-shadow: 5px 8px 25px rgba(1, 34, 90, 0.25);
}

@media only screen and (max-width: 1024px) {
  #product-screen-back{
    font-size: 1em;
    padding: 0.7em;
  }
  .product-screen-container2{
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
    gap: 2em;
  }
  .product-screen-img-container{
    max-width: 65vw;
    padding: 1.5em;
  }
  .product-screen-img{
    border-radius: 7px;
  }
  .product-screen-text{
    max-width: 65vw;
  }
}
@media only screen and (max-width: 600px) {
  .home-screen-heading{
    text-align: center;
    font-size: 1.8em;
  }
  .product-screen-container{
    overflow-x: hidden;
  }
  #product-screen-back{
    font-size: 0.8em;
    padding: 0.7em;
  }
  .product-screen-container2{
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 2em;
  }
  .product-screen-img-container{
    max-width: 94vw;
    padding: 1em;
  }
  .product-screen-img{
    border-radius: 7px;
  }
  .product-screen-text{
    max-width: 94vw;
  }
}
/* footer */
.footer-text{
  padding: 8px !important;
  opacity: 0.5;
  color: #1e2630;
  font-family: 'Montserrat', sans-serif;
}